
@font-face {
    font-family: 'byekan';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Yekan.eot");
    src: url("fonts/Yekan.eot?#iefix") format("embedded-opentype"),  url("fonts/Yekan.woff") format("woff"), url("fonts/Yekan.ttf") format("truetype"), url("fonts/Yekan.svg#fontawesome") format("svg"); }
    *{    font-family: byekan;}

.ReactModal__Content fieldset{    width: 100%;
    margin: 18px}
.ReactModal__Content input{    width: 100%;}
.form-contents{  text-align: right;
    display: grid;
    grid-template-columns: auto auto auto;
    direction: rtl;
}
.ReactModal__Content select {
    
    width: 100%;}

.ReactModal__Content select[multiple] {
    padding: 0;
}
.ReactModal__Content h1 {
    font-family: byekan;
    text-align: center;
    background: #eaf5ff;
    margin: 5px 5px 8px 5px;
    padding: 15px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(213,213,213,1);
    box-shadow: 0 0 1px rgb(234, 250, 255), 0 0 1px rgb(234, 250, 255);
}
.close-btt{    width: 23px;
    cursor: pointer;}
.buttons{  display: flex;
    justify-content: center;}
 .field-item{     
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
    margin: 5px;
    background: #eafaff;
    padding: 13px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(213,213,213,1);
    box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(213,213,213,1);}


    input[type=text], input[type=number], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        max-width: 100%!important;
    }
        input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    .hidden { display:none; }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{    background-color: rgba(143, 143, 143, 0.63)!important;}
.buttons button {
    margin-top: 10px;
    padding: 10px;
}
.error-validation{    border: 2px solid #f00!important; }

.ReactTable .rt-tbody {
    text-align: center;}


    .check-item {    direction: ltr;
        background: #f9f9f9;
        padding: 10px;
        text-align: right;}

.check-box-items{             background: #ececec;
    direction: rtl;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 7px;
    padding: 20px;
    margin-bottom: 21px;}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
.warper-form{     display: grid;
    grid-template-columns: auto auto auto;
    direction: rtl;}
.row-items{background: #e3e5ff;
    margin: 4px;
    padding: 20px;}
  .field-item  .item-view span{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

.input-project{    grid-template-columns: repeat(3, 1fr);
    direction: rtl;
    display: grid;
    margin: 0 auto;
    width: 49%;
    margin: 0 auto;
    grid-gap: 1em;
    text-align: center;}
    .table-show{grid-template-columns: repeat(1, 1fr);
        display: grid;
        direction: rtl;}
        .col-table{grid-template-columns: repeat(3, 1fr);
            display: flex;
            padding: 1px 36px 1px 10px;}

            textarea {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }   

    .fild-row-item {
        display: -webkit-flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
    }
    
    .col-item:nth-child(odd) {
        background: #eaefff;
    }
   .col-item:nth-child(even) {
    background: #eaefff;
    }
    .table-show-item{    width: 100%;
        direction: rtl;}


.data-grid{    margin: 2%;
    direction: rtl;}
    button.fa {
        cursor: pointer;
        padding: 6px;
        border-radius: 9px;
        /* background: red; */
        margin: 7px;
        border: none;
        background: #ececec;
        box-shadow: 0 0 2px rgba(0,0,0,0.2), 0 0 2px rgba(213,213,213,1);
    }



    button.fa.fa-plus-square  {
        
        font-size: 46px;
        padding: 1px;
        border-radius: 9px;
        margin: 7px;
        border: none;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #30a023;
        float: left;
    }

    .leg-head-form {        margin: 18px;
        display: -ms-flexbox;
        display: flex;
        direction: rtl;}
        .form-medium{    width: 71%;
            margin: 0 auto;}
.myrow{
    font-size: 16px;
    margin: 8px;
    font-weight: bold;
}
.myrow input{    text-align: center;} 
/* table */
.table-show-item {
    border-collapse: collapse;
    width: 100%;
}

.table-show-item td, .table-show-item th {
    text-align: center;
    border: 1px solid #bcc7ff78;
    padding: 8px;
}

.table-show-item tr:nth-child(even){    background-color: #eaefff;}

.table-show-item tr:hover {background-color: #ddd;}

.table-show-item th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #eaf5ff;
    color: black;
}

/* table  end */

.fild-row-item.lable{flex: 0 0 16em;}
.fild-row-item.chekbox{    flex: 0 0 3em;}
.fild-row-item.texerea {flex: 0 0 68em;}


@media (min-width: 1281px) {
  
    .form-contents {
        grid-template-columns: auto auto auto;
    }
    .check-box-items{}
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
 
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .form-contents {
        grid-template-columns: auto auto ;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .form-contents {
        grid-template-columns: auto auto ;
    }
 
  }
  .warper-form {
     
    grid-template-columns:  auto auto auto ;
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .form-contents {
        grid-template-columns: auto ;
    }
  
    .check-box-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .warper-form {
     
        grid-template-columns: auto auto ;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .form-contents {
        grid-template-columns: auto ;
    }
    .check-box-items{

        grid-template-columns: repeat(2, 1fr);

    }

    .warper-form {
     
        grid-template-columns: auto ;
    }

  }
  


.panel-title{
  font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.panel-primary
{
border-width: 3px;
    border-radius: 8px;
    height: 175px;
}
.panel-body ul
{
    list-style: none;
}

.panel-body ul li
{
    margin-top:5px;
}
.fRight{
    float: right !important;
}

.css-d8oujb{display: none!important;}
.JDatePicker .JDheader .right input[type="tel"] {
    font-family: byekan;
    width: 40%!important;
    z-index: 2;
    text-align: center!important;
}
.JDatePicker .JDheader .right .number {
    width: 40%!important;
    /* direction: ltr; */
    text-align: center!important;
    display: inline-block!important;
} 
.JC-years  span {
    width: inherit;
    padding: unset!important;
    margin: unset!important;
    display: unset!important;
    border: unset!important;
    border-radius: unset!important;
    -webkit-box-sizing: unset!important;
    box-sizing: unset!important;
}